In [16]:
# 1) Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

import pandas as pd

data = pd.Series([1, 2, 3, 4, 5, 6, 7, 8])
nums = pd.Series([23, 46, 23, 45, 61, 59, 90, 15])

print(data, '\n', nums)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
 0    23
1    46
2    23
3    45
4    61
5    59
6    90
7    15
dtype: int64

In [14]:
# 2) Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

import pandas as pd

data = pd.Series([1, 2, 3, 4, 5, 6, 7, 8])
nums = pd.Series([5, 10, 15, 20, 25, 30, 35, 40])

add = data + nums
sub = data - nums
mul = data * nums
div = data / nums
print(add, '\n', sub, '\n', mul, '\n', div)

0     6
1    12
2    18
3    24
4    30
5    36
6    42
7    48
dtype: int64
 0    -4
1    -8
2   -12
3   -16
4   -20
5   -24
6   -28
7   -32
dtype: int64
 0      5
1     20
2     45
3     80
4    125
5    180
6    245
7    320
dtype: int64
 0    0.2
1    0.2
2    0.2
3    0.2
4    0.2
5    0.2
6    0.2
7    0.2
dtype: float64

In [12]:
# 3) Write a Pandas program to compare the elements of the two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

import pandas as pd

data = pd.Series([2, 4, 6, 8, 10])
nums = pd.Series([1, 3, 5, 7, 10])

print(data == nums)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [15]:
# 4) Write a Pandas program to convert a NumPy array to a Pandas series.

import pandas as pd
import numpy as np

arr1 = np.array([1, 2, 3, 4, 5, 6, 7, 8])
arr2 = np.array([23, 46, 23, 45, 61, 59, 90, 15])

data = pd.Series(arr1)
nums = pd.Series(arr2)

print(data, '\n', nums)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int32
 0    23
1    46
2    23
3    45
4    61
5    59
6    90
7    15
dtype: int32

In [19]:
# 5) Write a Pandas program to change the data type of column or a Series

import pandas as pd

df = pd.DataFrame({'Name': ['Rajan', 'Bhavesh', 'Anand', 'Vijay'],
                   'Age': [30, 25, 35, 40],
                   'Salary': [50000, 60000, 55000, 70000]})
print(df)
print()
df['Age'] = df['Age'].astype(float)
df['Salary'] = df['Salary'].astype(int)

print(df)

      Name  Age  Salary
0    Rajan   30   50000
1  Bhavesh   25   60000
2    Anand   35   55000
3    Vijay   40   70000

      Name   Age  Salary
0    Rajan  30.0   50000
1  Bhavesh  25.0   60000
2    Anand  35.0   55000
3    Vijay  40.0   70000

In [34]:
# 7) Write a Pandas program to create a subset of a given series based on value and condition.

import pandas as pd

data = pd.Series([12, 11, 10, 16, 18, 21, 9, 5, 23, 25, 24, 4, 20, 10])

sub1 = data[(data > 15)]
print(sub1)

sub2 = data[(data < 15)]
print(sub2)

3     16
4     18
5     21
8     23
9     25
10    24
12    20
dtype: int64
0     12
1     11
2     10
6      9
7      5
11     4
13    10
dtype: int64

In [35]:
# 8) Write a Pandas program to change the order of index of a given series.
# Sample Output: Original Data Series: A 1 B 2 C 3 D 4 E 5 dtype: int64
# Data Series after changing the order of index: B 2 A 1 C 3 D 4 E 5 dtype: int64

import pandas as pd

data = pd.Series([1, 2, 3, 4, 5])
data.index = ['A', 'B', 'C', 'D', 'E']
print(s)

s = s.reindex(index=['B', 'A', 'C', 'D', 'E'])
print(s)

B    2
A    1
C    3
D    4
E    5
dtype: int64
B    2
A    1
C    3
D    4
E    5
dtype: int64